.action-icon {
    font-size: 45;
    /* width: 80%; */
}

.action-icon.left {
    margin-right: 50%;
}

.action-icon.right {
    margin-left: 50%;
}

ActionBar {
    padding-top: 2;
    padding-bottom: 2;
}

StackLayout.msg {
    padding: 80 30 0 30;
    text-align: center;
}

