<ScrollView>
	<StackLayout>
		<ActionBar>
			<GridLayout rows="auto" columns="*">
				<Label class="fontawesome action-icon" text="&#xf060;" (tap)="backPress()" row="0" horizontalAlignment="left"></Label>
				<Label class="action-label" textWrap="true" [text]="task.name" row="0" horizontalAlignment="center"></Label>
				<Label (tap)="editTask()" class="fontawesome edit-icon" text="&#xf044;" row="0" horizontalAlignment="right"></Label>
			</GridLayout>
		</ActionBar>
		<StackLayout *ngFor="let item of task.steps">
			<tmr-step [step]="item"></tmr-step>
		</StackLayout>
	</StackLayout>
</ScrollView>