<StackLayout class="container">
    <Label [text]="step.name" textWrap="true" class="step-name" horizontalAlignment="left"></Label>
    <Label [text]="step.description ? step.description : '(No description)'" textWrap="true"
    class="description light" horizontalAlignment="left" [color]="step.description ? '#666':'#ddd'"></Label>
    <StackLayout orientation="horizontal">
        <Label [text]="'Repetitions: ' + step.repetitions" class="description"
               [visibility]="this.currentRepetition ? 'collapsed':'visible'"></Label>
        <Label class="description" [visibility]="this.currentRepetition ? 'visible':'collapsed'"
               [text]="'Repetition: ' + currentRepetition + ' of ' + step.repetitions"></Label>
    </StackLayout>
    <StackLayout [visibility]="(step.minutes > 0 || step.seconds > 0) ? 'visible' : 'collapsed'">
        <FlexboxLayout class="timeDisplay">
            <Label fontSize="40" [text]="padTwoDigits(minutes) + ' : ' + padTwoDigits(seconds)"></Label>
        </FlexboxLayout>
        <FlexboxLayout>
            <Label class="fontawesome icon" [text]="timerOn ? '&#xf28c;':'&#xf01d;'" (tap)="playPauseBtnAction()"></Label>
            <Label class="fontawesome icon" [text]="timerOn ? '&#xf021;':'&#xf28e;'" (tap)="resetTimer()"
            [visibility]="(timerOn || alarmOn || paused) ? 'visible':'collapsed'"></Label>
        </FlexboxLayout>
    </StackLayout>
</StackLayout>
