ActionBar {
    background-color: #42a5f5;
    color: white;
    padding: 10 0;
}

.action-label {
  font-size: 22;
  vertical-align: center;
}

.action-icon {
  font-size: 35;
  vertical-align: center;
}

Button {
  text-transform: none;
}

.fontawesome {
  font-family: "FontAwesome"; /*For icons*/
}

.text-center {
  text-align: center;
}

.icon {
    font-size: 35;
    color: white;
}

.share-icon {
  font-size: 42;
  vertical-align: center;
}

Label {
  font-size: 20;
}

.link {
  color: #42a5f5;
}
