<ActionBar>
    <GridLayout columns="*" rows="auto">
        <Label class="fontawesome action-icon" text="&#xf060;" (tap)="backPress()" row="0" horizontalAlignment="left"></Label>
        <Label class="action-label" text="Timer Alarm Settings" row="0" horizontalAlignment="center"></Label>
    </GridLayout>
</ActionBar>
<ScrollView>
    <StackLayout class="outer-container">
        
        <FlexboxLayout class="switch-container">
            <Label text="Play alarm tone"></Label>
            <Switch [(ngModel)]="settings.wantsTone"></Switch>
        </FlexboxLayout>
    
        <StackLayout class="radio-control" [visibility] = "settings.wantsTone ? 'visible':'collapsed'">
            <FlexboxLayout class="pad-btm">
                <Label text="Continuously"></Label>
                <!--There is literally no cross-platform support for radio buttons... DIY time.-->
                <StackLayout class="radio-btn {{ settings.continuousTone ? 'radio-active':'' }}" (tap)="setContinuousTone(true)"></StackLayout>
            </FlexboxLayout>
            <FlexboxLayout>
                <Label text="Once"></Label>
                <StackLayout class="radio-btn {{ settings.continuousTone ? '':'radio-active' }}" (tap)="setContinuousTone(false)"></StackLayout>
            </FlexboxLayout>
        </StackLayout>

        <FlexboxLayout class="switch-container">
            <Label text="Vibrate"></Label>
            <Switch [(ngModel)]="settings.wantsVibrate"></Switch>
        </FlexboxLayout>

        <StackLayout class="radio-control" [visibility] = "settings.wantsVibrate ? 'visible':'collapsed'">
            <FlexboxLayout>
                <Label text="Continuously" class="pad-btm"></Label>
                <StackLayout class="radio-btn {{ settings.continuousVibrate ? 'radio-active':'' }}" (tap)="setContinuousVibrate(true)"></StackLayout>
            </FlexboxLayout>
            <FlexboxLayout>
                <Label text="Once"></Label>
                <StackLayout class="radio-btn {{ settings.continuousVibrate ? '':'radio-active' }}" (tap)="setContinuousVibrate(false)"></StackLayout>
            </FlexboxLayout>
        </StackLayout>

        <Label class="disclaimer" textWrap="true"
            text="Note: Vibration and alarm tones apply only if the application is active."></Label>
        
        <FlexboxLayout class="switch-container notification-switch">
            <Label text="Send me a notification"></Label>
            <Switch [(ngModel)]="settings.wantsNotifications"
                (checkedChange)="onNotificationToggle($event)"></Switch>
        </FlexboxLayout>   

    </StackLayout>
</ScrollView>