FlexboxLayout {
    justify-content: center;
    align-items: center;
}

StackLayout {
    padding: 25;
}

.time-setter {
    font-size: 50;
}

.scrollable {
    overflow-y: scroll;
}

.step {
    border-bottom-width: 2;
    border-bottom-color: green;
}

Label {
    font-size: 18;
    color: #444;
}

.move-arrow {
    font-size: 40;
    padding: 0 20;
}

.reps {
    width: 25%;
}

.move-btns {
    justify-content: center;
}

#page {
    width: 400;
}

.monospace {
    font-family: monospace;
}

.time, .reps {
    border-color: red;
}

.link {
    font-size: 30;
}